In [6]:
# Importing dependancies 
import pandas as pd
from pathlib import Path
import numpy as np

In [8]:
tsla = pd.read_csv('TSLA.csv')

In [9]:
tsla.head()

            Unnamed: 0 Unnamed: 1
0                 Date      Close
1  02/12/2021 16:00:00     1084.6
2  03/12/2021 16:00:00    1014.97
3  06/12/2021 16:00:00    1009.01
4  07/12/2021 16:00:00    1051.75

In [10]:
tsla.describe()

       Unnamed: 0 Unnamed: 1
count          69         69
unique         69         69
top          Date      Close
freq            1          1

In [12]:
tsla.dtypes

Unnamed: 0    object
Unnamed: 1    object
dtype: object

In [15]:
tsla.index

RangeIndex(start=0, stop=69, step=1)

In [16]:
tsla.columns

Index(['Unnamed: 0', 'Unnamed: 1'], dtype='object')

In [17]:
tsla = pd.DataFrame(tsla)
tsla.head()

            Unnamed: 0 Unnamed: 1
0                 Date      Close
1  02/12/2021 16:00:00     1084.6
2  03/12/2021 16:00:00    1014.97
3  06/12/2021 16:00:00    1009.01
4  07/12/2021 16:00:00    1051.75

In [18]:
tsladf = tsla.iloc[1:]

In [29]:
tsladf.head()

                  Date Closing Price
1  02/12/2021 16:00:00        1084.6
2  03/12/2021 16:00:00       1014.97
3  06/12/2021 16:00:00       1009.01
4  07/12/2021 16:00:00       1051.75
5  08/12/2021 16:00:00       1068.96

In [23]:
tsladf = tsladf.rename(columns={"Unnamed: 0": "Date", "Unnamed: 1": "Closing Price"})

In [24]:
tsladf.dtypes

Date             object
Closing Price    object
dtype: object

In [33]:
tsladf["Date"]= pd.to_datetime(tsladf["Date"])

In [35]:
tsladf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 1 to 68
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           68 non-null     datetime64[ns]
 1   Closing Price  68 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 1.2+ KB

In [36]:
tsladf.head()

                 Date Closing Price
1 2021-02-12 16:00:00        1084.6
2 2021-03-12 16:00:00       1014.97
3 2021-06-12 16:00:00       1009.01
4 2021-07-12 16:00:00       1051.75
5 2021-08-12 16:00:00       1068.96

In [37]:
tsladf['Date'] = tsladf['Date'].dt.strftime('%m/%d/%Y')

In [38]:
tsladf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 1 to 68
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           68 non-null     object
 1   Closing Price  68 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [41]:
tsladf.head()

         Date Closing Price
1  02/12/2021        1084.6
2  03/12/2021       1014.97
3  06/12/2021       1009.01
4  07/12/2021       1051.75
5  08/12/2021       1068.96

In [42]:
tsladf["Date"]= pd.to_datetime(tsladf["Date"])

In [43]:
tsladf.head()

        Date Closing Price
1 2021-02-12        1084.6
2 2021-03-12       1014.97
3 2021-06-12       1009.01
4 2021-07-12       1051.75
5 2021-08-12       1068.96

In [44]:
tsladf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 1 to 68
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           68 non-null     datetime64[ns]
 1   Closing Price  68 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 1.2+ KB

In [46]:
tsladf['Closing Price'] = pd.to_numeric(tsladf['Closing Price'])

In [47]:
tsladf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 1 to 68
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           68 non-null     datetime64[ns]
 1   Closing Price  68 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.2 KB

In [48]:
print(tsladf)

         Date  Closing Price
1  2021-02-12        1084.60
2  2021-03-12        1014.97
3  2021-06-12        1009.01
4  2021-07-12        1051.75
5  2021-08-12        1068.96
..        ...            ...
64 2022-04-03         838.29
65 2022-07-03         804.58
66 2022-08-03         824.40
67 2022-09-03         858.97
68 2022-10-03         838.30

[68 rows x 2 columns]